name: Rust MUSL BUILD
on:
  workflow_dispatch:

jobs:
  check:
    name: Rust project
    strategy:
      matrix:
        include:
          - target: x86_64-unknown-linux-musl
            os: ubuntu-latest

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          repository: 'mokeyish/smartdns-rs'
      - name: Install Rust Toolchain Components
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          target: ${{ matrix.target }}
      - name: Install just
        uses: extractions/setup-just@v3
      - name: Install cross
        uses: taiki-e/install-action@v2
        if: ${{ startsWith(matrix.os, 'ubuntu') }}
        with:
          tool: cross
      - name: Install cargo-edit
        uses: baptiste0928/cargo-install@v3
        with:
          crate: cargo-edit
      - name: Install patch-crate
        uses: baptiste0928/cargo-install@v3
        with:
          crate: patch-crate
      - name: get Code
        run: |
            git clone https://github.com/bluez/bluer.git bluetui
            cd bluetui && git submodule update --init --recursive
            git clone https://github.com/pythops/bluetui.git bluetui
      - name: config toml
        run: |
            curl -L https://github.com/kunkka2/binaries/raw/refs/heads/main/others/bluetui/toml.py -o toml.py
            pip install tomli-w
            python toml.py
      - name: Build
        run: |
            cd bluetui 
            curl -L https://github.com/kunkka2/binaries/raw/refs/heads/main/others/bluetui/Cross.toml -o Cross.toml
            export PKG_CONFIG_ALLOW_CROSS=1
            PKG_CONFIG_ALLOW_CROSS=1 cross build -p bluetui --release --target x86_64-unknown-linux-musl
        env:
          USE_CROSS: ${{ matrix.os == 'ubuntu-latest' }}
      - name: Upload Artifacts sign
        uses: actions/upload-artifact@master
        with:
          name: bluetui
          path: bluetui/target/x86_64-unknown-linux-musl/release/bluetui
